@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "DM Sans", system-ui, -apple-system, sans-serif;
}

.px-4{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
